body {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
h1 {
  margin-left: 30px;
  margin-bottom: 0;
}
ul {
  margin-bottom: 30px;
}
li {
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.weather-app {
  background: #bf646d;
  margin-top: 50px;
  padding: 20px auto;
  border: 1px solid rgb(179, 94, 179);
  border-radius: 5px;
}
.weather-temperature img {
  margin-right: 0;
  margin-left: 20px;
  width: 80px;
  margin-bottom: 40px;
}
.form-control {
  background-color: black;
}
.tempo {
  font-size: 44px;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  bottom: 35px;
}
.developer {
  color: white;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .fahrenheit {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 17px;
  opacity: 0.7;
}
.weather-forecast-temperature {
  font-size: 15px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
@media (max-width: 300px) {
  h1 {
    font-size: 14px;
  }
  .weather-app {
    display: block;
    width: fit-content;
    font-size: x-small;
  }
  .form-control {
    width: auto;
  }
  .forecast-day-condition-icon {
    display: none;
  }
  .weather-forecast {
    display: block;
    width: auto;
    font-size: x-small;
  }
  .weather-forecast-date {
    font-size: x-small;
  }
  .weather-icon {
    padding: 0;
    width: auto;
  }
  .form-control {
    display: inline;
    width: auto;
  }
  .btn {
    display: inline;
    width: auto;
    padding-top: 0;
  }
  .units {
    padding: 0;
    margin: 0;
    font-size: xx-small;
    text-align: left;
  }
}
