body {
  background-color: black;
}
h1 {
  margin-left: 30px;
  margin-bottom: 0;
}
ul {
  margin-bottom: 30px;
}
li {
  list-style: none;
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.weather-app {
  background-color: rgb(240, 146, 163);
  margin-top: 50px;
  padding: 20px auto;
  border: 1px solid rgb(195, 189, 195);
  border-radius: 5px;
}

.weather-temperature img {
  margin-right: 0;
  margin-left: 20px;
  width: 80px;
  margin-bottom: 40px;
}
.tempo {
  font-size: 64px;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  bottom: 35px;
}
.developer {
  color: white;
}
